#question {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  //border: 1px solid white;
  height: 200px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 60px;
}

.button {
  font-size: 7em !important;
  text-align: center;
  width: 100%;
  margin-top: 200px;
}

#button_tick{
  color: #0f0;
}
#button_cross{
  color: #f00;
}

#scorer span.fa{
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
button {
  border: 1px outset #000;
  background-color : #fff;
}
#scorer :first-child{
    -moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
#scorer :last-child{
    -moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.fa-check{
  color: #0f0;
}
.fa-times {
  color: #f00;
}
