#scores_total {
  text-align: center;
  
  bottom: 0px;
  position: absolute;
width: 100vw;
  /*! position: absolute; */
}
#scores_total h1 {
  font-size: 4em;
  color: #1565c0;
}
#scores_total h3 {
  color: #0d47a1;
  font-size: 2em;
}

#myChart {
  width: 100% !important;
  height: 80vh !important;
}

.hidden {
  display: none;
}
#drawing_area_2{
  width: 100vw;
  position: absolute;
}
#radarChart {
  position: absolute;
right: -42%;
height: 80vh !important;
width: 80vh !important;
}
